@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb)); /* Đặt màu nền trắng */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* globals.css */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&display=swap');
body {
  font-family: 'Be Vietnam Pro', sans-serif; /* Sử dụng font Be Vietnam Pro */
}
